@import '../abstracts/variables';
@import '../abstracts/mixins';

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
	font-size: 12px;
	background-color: #000000;
	&__article {
		margin-top: 38px;
		margin-bottom: 15px;
	}
	&__article-heading {
		margin-bottom: 10px;
		color: #fefefe;
		font-size: 14px;
		text-transform: uppercase;
	}
	&__article-text {
		max-width: 290px;
		color: #b9b9b9;
		& span {
			display: none;
		}
	}
	@media screen and (min-width: $medium-screen) {
		&__article {
			margin-top: 57px;
		}

		font-size: 16px;
		&__article-text {
			max-width: 675px;
			& span {
				display: inline;
			}
		}
	}
	@media screen and (min-width: $large-screen) {
		&__article {
			margin-top: 66px;
		}
	}
	&__link-list {
		display: flex;
		gap: 6px;
		margin-bottom: 25px;
	}
	&__link-list__item {
		width: 34px;
		height: 34px;

		&-link {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 30px;
			border: 2px solid white;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 10px;
		}

		&:nth-child(1) .footer__link-list__item-link {
			background-image: url('./../img/rss-icon.svg');
			border-color: #ff6600;
		}

		&:nth-child(2) .footer__link-list__item-link {
			background-image: url('./../img/facebook-icon.svg');
			border-color: #39599f;
		}

		&:nth-child(3) .footer__link-list__item-link {
			background-image: url('./../img/twitter-icon.svg');
			border-color: #45b0e3;
		}

		&:nth-child(4) .footer__link-list__item-link {
			background-image: url('./../img/dribbble-icon.svg');
			border-color: #d97ab0;
		}

		&:nth-child(5) .footer__link-list__item-link {
			background-image: url('./../img/pinterest-icon.svg');
			border-color: #cc212c;
		}
	}
	&__last-text {
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin-bottom: 47px;
		color: $light-gray;
		font-size: 14px;
		@media screen and (min-width: $medium-screen) {
			flex-direction: row;
			font-size: 16px;
			margin-bottom: 55px;
		}
		@media screen and (min-width: $large-screen) {
			margin-bottom: 70px;
		}
		& a {
			text-decoration: none;
			color: $light-gray;
		}
	}
}
