@import '../abstracts/variables';
@import '../abstracts/mixins';

.header {
	width: 100%;
	&__container.container {
		display: flex;
		justify-content: flex-end;
	}
}
.header__menu-container {
	width: 50%;
	padding: 23px 0;
	position: relative;
	display: flex;
	justify-content: flex-end;
	@media screen and (min-width: $medium-screen) {
		display: none;
	}
}
.header__menu-container-button {
	width: 44px;
	height: 37px;
	background-color: black;
	border: none;
	cursor: pointer;
	&-content {
		width: 100%;
		height: 100%;
		background-image: url('./../img/menu.svg');
		background-size: 90%;
		background-position: center;
		background-repeat: no-repeat;
		transition: all 0.2s ease-in-out;
	}
}
.header__menu-container-menu {
	position: absolute;
	bottom: -175px;
	right: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: #f5f5f5;
	transition: all 0.3s ease-in-out;
	&-table {
		width: 100%;
	}
	&.active {
		opacity: 1;
		visibility: visible;
	}
	&-table-link {
		width: 100%;
		height: 100%;
		padding-left: 13px;
		text-transform: uppercase;
		color: #4e4e4e;
		font-weight: 400px;
		font-size: $small-font-size;
	}
	& tr {
		cursor: pointer;
	}
	& tr:hover {
		background-color: #e5e5e5;
	}
	& tr:hover &-table-link,
	.header__nav-link:hover .header__nav-link {
		color: #57a4a4;
	}
}
.header__nav {
	display: none;
	width: 100%;

	@media screen and (min-width: $medium-screen) {
		display: block;
	}
	& ul {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 34px;
		@media screen and (min-width: $large-screen) {
			gap: 68px;
		}
	}

	&-link {
		text-transform: uppercase;
		color: #4e4e4e;
		font-size: 11px;
		font-weight: 400;
		font-size: $small-font-size;
		&:hover {
			color: #57a4a4;
		}
	}
}
