@import '../abstracts/variables';
@import '../abstracts/mixins';

.under-header-banner {
	height: 150px;
	margin-bottom: 38px;
	@media screen and (min-width: $medium-screen) {
		height: 361px;
		margin-bottom: 56px;
	}
	@media screen and (min-width: $large-screen) {
		height: 550px;
		margin-bottom: 66px;
	}
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.recent-posts {
	&__heading {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		margin-bottom: 28px;
		@media screen and (min-width: $medium-screen) {
			font-size: 16px;
		}
	}
	& ul {
		display: block;
		column-count: 1;
		@media screen and (min-width: $large-screen) {
			column-count: 2;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 18px;
		margin-bottom: 28px;
		flex-wrap: nowrap;
		&-text {
			display: none;
			max-width: 400px;
			margin-top: 15px;
			color: #5c5c5c;
			font-size: 14px;
			@media screen and (min-width: $medium-screen) {
				display: block;
			}
		}
		& a {
			font-size: 14px;
			color: $dark-gray;
			@media screen and (min-width: $medium-screen) {
				font-size: 16px;
			}
		}
		& article p:first-of-type {
			margin-top: 3px;
			font-size: 11px;
			color: $light-gray;
			@media screen and (min-width: $medium-screen) {
				font-size: 12px;
			}
		}
	}
	&__item:last-child {
		display: none;
		@media screen and (min-width: $medium-screen) {
			display: flex;
		}
	}
}
.instagram__box {
	width: 100%;
	background-color: #f7f7f7;
}
.instagram {
	display: flex;
	flex-direction: column;
	&__text-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 38px;
		margin-bottom: 15px;
		& h2 {
			color: $dark-gray;
			font-size: 14px;
			text-transform: uppercase;
			@media screen and (min-width: $medium-screen) {
				font-size: 16px;
			}
		}
		& a {
			display: none;
			@media screen and (min-width: $medium-screen) {
				display: block;
			}
		}
		@media screen and (min-width: $medium-screen) {
			margin-top: 47px;
			margin-bottom: 37px;
		}
		@media screen and (min-width: $large-screen) {
			margin-bottom: 26px;
		}
	}
	&__image-box {
		width: 100%;
		height: 310px;
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 40px;
		&__img {
			height: 100%;
			flex-grow: 1;
		}
		&__img:not(:first-child) {
			display: none;
		}
		@media screen and (min-width: $medium-screen) {
			& {
				height: 249px;
				gap: 10px;
				margin-bottom: 50px;

			}
			&__img:not(:last-child) {
				display: block;
			}
		}
		@media screen and (min-width: $large-screen) {
			& {
				height: 285px;
			}
			&__img:last-child {
				display: block;
			}
		}
	}
}
