@import 'variables';
@mixin media-container(
	$start,
	$small: 370px,
	$medium: 940px,
	$large: 1600px,
	$small-screen: $small-screen,
	$medium-screen: $medium-screen,
	$large-screen: $large-screen
) {
	margin: 0 auto;
	max-width: $start;
	@media screen and (min-width: $small-screen) {
		max-width: $small;
	}
	@media screen and (min-width: $medium-screen) {
		max-width: $medium;
	}
	@media screen and (min-width: $large-screen) {
		max-width: $large;
	}
}
