@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './abstracts/variables';
@import './abstracts/mixins';
* {
	text-decoration: none;
	list-style: none;
	font-family: 'Roboto', sans-serif;
	ul {
		padding: 0;
	}
}
.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@include media-container(373px);
	@media screen and (min-width: $medium-screen) {
		@include media-container(940px);
	}
	@media screen and (min-width: $large-screen) {
		@include media-container(1600px);
	}
}
.container {
	width: $small-screen;
	margin: 0 auto;
	@media screen and (min-width: $medium-screen) {
		width: $medium-screen;
	}
	@media screen and (min-width: $large-screen) {
		width: $large-screen;
	}
}
